*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #f5e9e0;
}
.container{
    margin: 30px;
    padding: 30px;
    min-height: 100vh;
    height: 100%;
    background: #fff;
}
header{
    display: flex;
    align-items: center;

}
header .menu-part-1, .menu-part-2{
    width: 35%;
    display: flex;
    justify-content: center;

}
header .name{
    width: 30%;
    text-align: center;
}
header .menu-part-1, .menu-part-2 li{
    list-style: none;
}
header .menu-part-1 li a, .menu-part-2 li a{
    text-decoration: none;
    padding-right: 25px;
    /* word-spacing: 2px; */
    color: #000;
    font-size: 16px;
    font-weight: 200;
    font-family: cursive;
}
header .menu-part-1 li a:hover, .menu-part-2 li a:hover{
    color: #f34949;
    transition: 0.2s;
    cursor: pointer;
}
header .name h1{
    font-size: 37px;
    font-weight: 100;
    font-family: cursive;
}

/* styling welcome section */

.welcome-section{
    display: flex;
    margin: 15px 0;
}
.welcome-section .info{
    width: 50%;
    padding: 0 15px;
}
/* .welcome-section .info .catchword{
    height: 50%;
} */
.welcome-section .info .catchword h1{
    font-family: cursive;
    font-size: 50px;
    font-weight: 300;
    padding: 100px 0 50px;
}
.welcome-section .info .buttons button{
    padding: 10px 25px;
    border-radius: 30px;   
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.welcome-section .info .buttons .explore{
    box-shadow: -5px 5px 10px -5px #f349495e;
    background: #f34949;
    color: #fff;

    margin-right: 10px;
}
.welcome-section .info .buttons .explore:hover{
    background: #e22f2f;
    
}
.welcome-section .info .buttons .video{

    background: #fff;
    color: #000;
}
.welcome-section .info .buttons .video:hover{
    color: #e22f2f;
}
.welcome-section .info .benefits{
    padding: 90px 0;
    display: flex;
}
.welcome-section .info .benefits h5{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 300;
    color: #4d4d4d;
}
.welcome-section .info .benefits .fresh{
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}
.welcome-section .pictures{
    padding: 30px;
}

.welcome-section .pictures .alt-pic{
    position: absolute;
    right: 90px;
    top: 606px;
}
.welcome-section .pictures .alt-pic img{
    width: 150px;
    height: 150px;;
}